{% extends 'base.html' %}

{% block title%}Civil and Infrastructure{% endblock title%} 

{% block body%} 
<html>
    <body>
        <h1 type="Bold", align="middle"><u>Civil and Infrastructure</u></h1>
        {% load static %}
        <center><img src="{% static 'civil.png' %}" alt="My image" height="350" width="500"></center>
        <center><li><b>Building Planning, design & Construction</b></li>
                <li><b>Structural Designing</b></li>
                <li><b>Master Planning</b></li>
                <li><b>Irrigation Projects designing & execution</b></li>
                <li><b>Heavy Infrastrucure designing, execution and feasibility analysis</b></li> 
        </center>
    </body>
</html>
{% endblock body%}