{% extends 'base.html' %}

{% block title%}Smart City Solutions{% endblock title%} 

{% block body%}
<html>
    <body>
        <h1 type="Bold", align="middle"><u>Smart City Solutions</u></h1>
        {% load static %}
        <center><img src="{% static 'smart.png' %}" alt="My image" height="350" width="500"></center>
        <center><li><b>Digital transformation of existing city maps using spatial and CAD data
            (Superimposing Drone imagery, CAD and utility networks)</b></li>
            <li><b>Transit Oriented Development Planning of the city</b></li>
            <li><b>Designing open areas/ recreational areas/ walkable areas in the city</b></li>
            <li><b>Urban restructuring, rehabilitation, real estate project development</b></li>
            <li><b>Utility designing for cities - water supply, sewerage &storm water drains designing</b></li> 
        </center>
    </body>
</html>
{% endblock body%}

